@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo(a) ao ToBuy!</h1>
    <p>Bom dia!

Venho por meio deste Readme comunicar que fui capaz de implementar todos os requisitos, exceto pela adição de itens à um pedido, porém, é possível sim você fazer a adição de um pedido não podendo apenas ligar itens à ele, admito que tentei bastante implementar isto mas pelo tempo preferi enviar o que já tinha.

<br/>Adicionei também uma paginação ao projeto, a possibilidade de restaurar um produto, um filtro e inventei a logo ToBuy :).

<br/>Na página inicial temos todos os pedidos, sendo que em cada uma temos: um carrinho verde para produto disponível e vermelho para indisponível, a descrição do produto com a data e itens de cada, e por fim a possibilidade de remoção ou restauração.

<br/>Na página de adicionar pedido é possível adicionar uma descrição à um novo pedido, mas a adição de itens não é possível como ja dito anteriormente. O produto é criado no final da tabela com a data atual e o preço inicial como 0.

<br/>Por fim, é possível realizar a busca a partir da descrição de algum produto.

<br/><br/>Obrigada pela oportunidade e espero que meu projeto atenda o esperado!</p>
</div>
